

body {    
    height: auto;
    margin: 0 auto;
    width: 80%;
}

/* HEADER */

.HeaderContainer {
    border: black solid 1px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 90%;
}

.HeaderProfileImgAndDetails {
    border: blue solid 1px;
    margin: 0 auto;
    width: 50%;
}

.HeaderContainer .HeaderProfileImgAndDetails .ProfileImage img {
    border-radius: 50%;
    border: white solid 1px;
    box-shadow: gray 0px 0px 2px;
}

.ContactDetails {
    border: darkgoldenrod solid 1px;
    display: flex;
    margin: 5px;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

.AboutMe {
    margin: 0 auto;
    border: red solid 1px;
    width: 50%;
}

.AboutMeSection {
    display: flex;
}

.AboutMeSection p img:nth-of-type(1) {
    border: white solid 1px;
    border-radius: 10%;
    box-shadow: dimgray 0 0 2px;
    float: left;
    margin: 3px;
    width: 100px;
}

.AboutMeSection p b:nth-of-type(1) {
    float: left;
}

.AboutMeSection p img:nth-of-type(2) {
    border: white solid 1px;
    border-radius: 10%;
    box-shadow: dimgray 0 0 2px;
    float: right;
    margin: 3px;
    width: 100px;
}

.AboutMeSection a {
    display: inline-flex;
    flex-wrap: wrap;

}

.Info {
    padding: 5px;
    margin: 5px;
    flex: 1;
    height: inherit;
    vertical-align: middle;
}

.Info .material-icons {
    display: inline;
    float: left;
}

.Info .fas {
    display: inline;
    float: left;
}

.SendMessage {
    padding: 5px;
    margin: 5px;
    flex: 1;
}

.SendEmail > * {
    margin: 10px;
}

/* BODY CONTENT */

.BodyContainer {
    border: #64ee08f3 solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 90%;   
}

.Row-1 .Row-2 .Row-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: inherit;
}